body { 
	font-size: 16px!important;
	background: #e6e6e6; 
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.input-group-addon.btn{
    height: 6vh;
}

.content {
    height: 80vh;
    overflow-y: auto;
}

button{
   color: black;
}

.container-fluid{
	width: 100%;
}

.hospital-logo{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

/* search settings */
select.form-control{
	width: auto !important;
}


/* search settings */

/* filter settings */
.filter-area td{
	padding: 5px 10px;
}

.filter-area td:first-child{
	padding-left: 0px;
}

.filter-area td:last-child{
	padding-right: 0px;
}

/* filter settings */

/* table settings */
.tablesorter-headerRow{
	color: #000;
	background: #ffd480;
}

.tablesorter-headerRow th{
	border: 1px solid #a6a6a6 !important;
}

th, td{
	vertical-align: middle !important;
	text-align: center;
	
}

td:nth-child(7){
	text-align: left;
}

td img{ 
	height: 60px; 
	width: 100px;
}

td input[type=checkbox]{
	zoom: 1.5;
}

td input[type=text]{
	width: 100%;
}

.patient-table > tbody > tr:hover{
	background: #f2f2f2;
	cursor: pointer;
}

.close{
	color: #66ff99;
}

.not-close{
	color: #ff6666;
}

.dataTables_filter label{
	margin-bottom: 10px;
}

/* table settings */

/* table details settings */


.detail{
	width: 100%;
	background: #e6f7ff;
}

.detail tr td{
	padding : 5px;
	text-align: left;
	font-size: 16px;
}

.detail tr td:nth-child(odd){
	font-weight: 600;
	color: #007ec8;
}


/* table details settings */

.input-group{
	margin-bottom: 15px;
}

.card{
	border: 1px solid #c6c7c9;
	
}

.card-header .fa{
	color: #000;
}

.card-header{
	width: auto;
	font-size: 20px;
	text-align: center;
	padding: 0.5em 0.5em 0 0.5em;
	letter-spacing: 1px;
	border-radius: 0 0 0 0;
	background: #ffffff;
	border: 0px;
	text-align: left;
	margin-left: 5px; 
}

.card-body{
	padding: 0em 1em 1em 1em;
}

.bootstrap-datatable{
	table-layout: fixed;
}

.input-group span.btn:hover{
	color: #fff;
	background-color: #999999;
}

.input-group-addon:last-child{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-group{
	padding: 0px;
	text-align: right;
	margin-bottom: 15px;
	font-size: 16px;
}

.btn-group button{
	margin-left: 10px;
}

span i{
	color: #808080;
}
